<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul *ngIf="villes">
        <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes"
            class="list-group-item clickable" (click)="onGetCinema(v)">
          {{v.nom}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">Liste Des Cinémas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills clickable">
            <li [ngClass]="c==currentCinema?'active':''" *ngFor="let c of cinemas._embedded.cinemas">
              <a (click)="onGetSalle(c)">{{c.nom}}</a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{s.nom}}</div>
                  <div class="panel-body" *ngIf="s.projections">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}"
                             style="height: 150px; width: 130px"/>
                      </div>
                      <div class="col-md-8">
                        <ul class="list-group">
                          <li class="list-group-item">Scéances :</li>
                          <li [ngClass]="p==currentProjection?'active':''" (click)="onGetTicketsPlaces(p)"
                              *ngFor="let p of s.projections._embedded.projections"
                              class="list-group-item clickable">
                            {{p.sceance.heureDebut}} => Prix : {{p.prix|number:'0.00'}} DHS
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="currentProjection">
                      <div *ngIf="currentProjection.salle.id==s.id">

                        <div class="row" *ngIf="currentProjection.tickets">
                          <button (click)="onSelectTicket(t)" class="{{getClass(t)}}" [disabled]="t.reserved==true"
                                  *ngFor="let t of currentProjection.tickets._embedded.tickets">
                            {{t.place.numero}}
                          </button>
                        </div>
                        <div *ngIf="this.selectedTickets.length>0">
                          <form #f="ngForm" (ngSubmit)="pay(f.value)">
                            <div class="form-group">
                              <label class="control-label">Nom Client : </label>
                              <input class="form-control" type="text" name="nomClient" ngModel>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Code Payement : </label>
                              <input class="form-control" type="text" name="codePay" ngModel>
                            </div>
                            <button type="submit" class="btn btn-info">Payer</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
